html {
	scroll-behavior: smooth;
}

body {
	background: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
	text-wrap: balance;
}

img{
	display: block;
}

a {
	color: var(--link);
	text-decoration: none;
}