:root {
	--container-width: 1440px;
	--container-padding: 20px;

	--font-main: 'Roboto', sans-serif;
	--font-accent: 'Inter', serif;

	--page-bg: radial-gradient(183.2% 113.82% at 100% -12.44%,
	#fee4d5 0%,
	#ffe8e1 45%,
	#fff9ea 100%);
	--text-color: #303030;
    --dark: #1c1c1c;
    --peach: #ffae95;
    --link: #007AFF;
    --cream: #fff9e4;
    --button-text: #888888;
    --secondary: #B6B6B6;
	--light-grey: #F8F8F8;
	--green: #34C759;
	--red: #FF3B30;
	--modal: #fafafa;

--box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
--box-shadow-btn: 2px 4px 4px 0 rgba(65, 50, 43, 0.682);



	--default-font-size: 14px;
	--mini-font-size: 8px;

    --laptop-size: 1440px;
	--tablet-size: 959px;
	--mobile-size: 375px;
}



