.modal__background{
background-color: rgba(233, 221, 213, 0.5);
position: fixed;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}

.modal__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    padding: 40px;
    border-radius: 12px;
    background: var(--modal);
    box-shadow: var(--box-shadow);
}

.modal__text{
    width: 450px;
font-family: inherit;
font-size: 22px;
font-weight: 500;
line-height: 1.29;
color: var(--text-color);
margin-bottom: 32px;
text-align: center;
}